requests
pillow
pycaw
comtypes
screen-brightness-control
keyboard
SpeechRecognition
sounddevice
numpy
yt-dlp
spotipy
psutil
pyttsx3
edge-tts
openwakeword
pyperclip
flask
pyopenssl
python-dotenv
playwright
ollama
pystray
matplotlib
